<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings> -->
    <!-- <typeAliases>
        <package name="com.example.demo.products.entity" />
        <package name="com.example.demo.reviews.entity" />
        <package name="com.example.demo.customers.entity" />
    </typeAliases> -->
    <mappers>
        <mapper resource="mybatis/ProductMapper.xml" />
        <mapper resource="mybatis/ReviewMapper.xml" />
        <mapper resource="mybatis/CustomerMapper.xml" />
        <mapper resource="mybatis/CommandMapper.xml" />
        <mapper resource="mybatis/InvoiceMapper.xml" />
    </mappers>
</configuration>